In [13]:
import glob
import pandas

In [14]:
file_list = glob.glob('dark_*.csv')
file_list

['dark_1.csv', 'dark_2.csv']

In [15]:
df_dark = pandas.DataFrame()

for file in file_list:
    df = pandas.read_csv(file)
    df_dark = pandas.concat([df_dark, df], ignore_index=True)

df_dark.to_csv('dark.csv', index=False)
df_dark.head()

In [ ]:
sample = df_dark.iloc[32]
sample

id                       0549373a-621c-4103-b077-7908a1b55a16
board       ------T---l----C---dp--------w---W-----R------...
side                                                       -1
piece                                                       R
atk                                                         1
move                                                     F4E4
position                                                   E4
river                                                       1
trap                                                        0
den                                                         0
score                                                      70
winner                                                      0
Name: 32, dtype: object

In [ ]:
# Function to transform the board
def transform_board(board):
    return board[::-1].swapcase()

transform_board(sample['board'])

'l------ET-dp----C------r-----w---W--------PD---c----L---t------'

In [ ]:
# Function to transform the move
def transform_move(move):
    col_map = {'A': 'G', 'B': 'F', 'C': 'E', 'D': 'D', 'E': 'C', 'F': 'B', 'G': 'A'}
    row_map = {'1': '9', '2': '8', '3': '7', '4': '6', '5': '5', '6': '4', '7': '3', '8': '2', '9': '1'}
    start_col, start_row, end_col, end_row = move[0], move[1], move[2], move[3]
    return col_map[start_col] + row_map[start_row] + col_map[end_col] + row_map[end_row]

transform_move(sample['move'])

'B6C6'

In [ ]:
# Function to transform the piece
def transform_piece(piece):
    return piece.swapcase()

transform_piece(sample['piece'])

'r'

In [ ]:
# Function to transform to opposite side
def transform_side(x):
    return x * -1

transform_side(sample['score'])

-70

In [ ]:
df_light = df_dark.copy()

df_light['board'] = df_dark['board'].apply(transform_board)
df_light['move'] = df_dark['move'].apply(transform_move)
df_light['piece'] = df_dark['piece'].apply(transform_piece)

invert_columns = ['side', 'trap', 'den', 'score', 'winner']
df_light[invert_columns] = df_dark[invert_columns].apply(transform_side)

df_light.to_csv('light.csv', index=False)
df_light.head()

,id,board,side,piece,atk,move,position,river,trap,den,score,winner
0,0549373a-621c-4103-b077-7908a1b55a16,l-r---E-T-d-----C---p---W-------------w---P---...,1,t,6,G1G2,A8,0,0,0,0,0
1,0549373a-621c-4103-b077-7908a1b55a16,l-r---E-T-d-----C---p---W-------------w---P---...,-1,R,1,G7G6,A4,0,0,0,0,0
2,0549373a-621c-4103-b077-7908a1b55a16,l--r--E-T-d-----C---p---W-------------w---P---...,1,r,1,A3A4,G6,0,0,0,0,0
3,0549373a-621c-4103-b077-7908a1b55a16,l--r--E-T-d-----C---p---W-------------w---P---...,-1,R,1,G6G5,A5,0,0,0,0,0
4,0549373a-621c-4103-b077-7908a1b55a16,l---r-E-T-d-----C---p---W-------------w---P---...,1,r,1,A4A5,G5,0,0,0,0,0

In [ ]:
df_dark.drop(columns='id', inplace=True)
df_light.drop(columns='id', inplace=True)

In [ ]:
df = pandas.concat([df_dark, df_light], ignore_index=True)

In [ ]:
df.to_csv('animal_chess.csv', index=False)
df.head()

,board,side,piece,atk,move,position,river,trap,den,score,winner
0,l-r---ET--d-----C---p---W-------------w---P---...,-1,T,6,A9A8,A8,0,0,0,0,0
1,l--r--ET--d-----C---p---W-------------w---P---...,1,r,1,A3A4,A4,0,0,0,0,0
2,l--r--ET--d-----C---p---W-------------w---P---...,-1,R,1,G7G6,G6,0,0,0,0,0
3,l---r-ET--d-----C---p---W-------------w---P---...,1,r,1,A4A5,A5,0,0,0,0,0
4,l---r-ET--d-----C---p---W-------------w---P---...,-1,R,1,G6G5,G5,0,0,0,0,0