In [3]:
import glob
import pandas

In [4]:
file_list = glob.glob('dark_*.csv')
file_list

['dark_1.csv', 'dark_2.csv', 'dark_3.csv']

In [5]:
df_dark = pandas.DataFrame()

for file in file_list:
    df = pandas.read_csv(file)
    df_dark = pandas.concat([df_dark, df], ignore_index=True)

df_dark.to_csv('dark.csv', index=False)
df_dark.head()

,id,board,side,piece,atk,move,river,trap,den,score,winner
0,c0d47dce-a898-4bac-adc1-2a1db9893294,l-r---E-T-d-----C---p---W-------------w---P---...,-1,R,1,G7G6,0,0,0,0,0
1,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W-------------w---P---...,1,r,1,A3A4,0,0,0,0,0
2,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W-------------w---P---...,-1,R,1,G6G5,0,0,0,0,0
3,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W------------w----P---...,1,w,4,E3E2,0,0,0,0,0
4,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W------------w----P---...,-1,R,1,G5G4,0,0,0,0,0

In [6]:
sample = df_dark.iloc[32]
sample

id                     c0d47dce-a898-4bac-adc1-2a1db9893294
board     ----r-E-Tl-----WC--d---------p------L--R--P---...
side                                                     -1
piece                                                     L
atk                                                       0
move                                                   F1E1
river                                                     0
trap                                                      1
den                                                       0
score                                                   -90
winner                                                    0
Name: 32, dtype: object

In [7]:
# Function to transform the board
def transform_board(board):
    return board[::-1].swapcase()

transform_board(sample['board'])

'------W---d---------p--r--l------P---------D--cw-----Lt-e-R----'

In [8]:
# Function to transform the move
def transform_move(move):
    col_map = {'A': 'G', 'B': 'F', 'C': 'E', 'D': 'D', 'E': 'C', 'F': 'B', 'G': 'A'}
    row_map = {'1': '9', '2': '8', '3': '7', '4': '6', '5': '5', '6': '4', '7': '3', '8': '2', '9': '1'}
    start_col, start_row, end_col, end_row = move[0], move[1], move[2], move[3]
    return col_map[start_col] + row_map[start_row] + col_map[end_col] + row_map[end_row]

transform_move(sample['move'])

'B9C9'

In [9]:
# Function to transform the piece
def transform_piece(piece):
    return piece.swapcase()

transform_piece(sample['piece'])

'l'

In [10]:
# Function to transform to opposite side
def transform_side(x):
    return x * -1

transform_side(sample['score'])

90

In [11]:
df_light = pandas.DataFrame()

df_light['id'] = df_dark['id']
df_light['board'] = df_dark['board'].apply(transform_board)
df_light['move'] = df_dark['move'].apply(transform_move)
df_light['piece'] = df_dark['piece'].apply(transform_piece)

invert_columns = ['side', 'trap', 'den', 'score', 'winner']
df_light[invert_columns] = df_dark[invert_columns].apply(transform_side)

df_light.to_csv('light.csv', index=False)
df_light.head()

,id,board,move,piece,side,trap,den,score,winner
0,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W-------------w---P---...,A3A4,r,1,0,0,0,0
1,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W-------------w---P---...,G7G6,R,-1,0,0,0,0
2,c0d47dce-a898-4bac-adc1-2a1db9893294,l---r-E-T-d-----C---p---W-------------w---P---...,A4A5,r,1,0,0,0,0
3,c0d47dce-a898-4bac-adc1-2a1db9893294,l---r-E-T-d-----C---p----W------------w---P---...,C7C8,W,-1,0,0,0,0
4,c0d47dce-a898-4bac-adc1-2a1db9893294,l----rE-T-d-----C---p----W------------w---P---...,A5A6,r,1,0,0,0,0

In [12]:
df_dark.drop(columns='id', inplace=True)
df_light.drop(columns='id', inplace=True)

In [13]:
df = pandas.concat([df_dark, df_light], ignore_index=True)

In [14]:
df.to_csv('animal_chess.csv', index=False)
df_dark.head()

,board,side,piece,atk,move,river,trap,den,score,winner
0,l-r---E-T-d-----C---p---W-------------w---P---...,-1,R,1,G7G6,0,0,0,0,0
1,l--r--E-T-d-----C---p---W-------------w---P---...,1,r,1,A3A4,0,0,0,0,0
2,l--r--E-T-d-----C---p---W-------------w---P---...,-1,R,1,G6G5,0,0,0,0,0
3,l--r--E-T-d-----C---p---W------------w----P---...,1,w,4,E3E2,0,0,0,0,0
4,l--r--E-T-d-----C---p---W------------w----P---...,-1,R,1,G5G4,0,0,0,0,0