In [1]:
import math
import os
import pandas

C:\Users\yamia\AppData\Local\Temp\ipykernel_10616\1197588305.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas

In [2]:
N_ROWS = 10_000_000

In [3]:
DARK_FILE_NAME = 'dark.csv'
LIGHT_FILE_NAME = 'light.csv'
FILE_NAME = 'animal_chess.csv'

In [4]:
df = pandas.read_csv(DARK_FILE_NAME)
df.head()

,id,board,side,piece,atk,move,river,trap,den,score,winner
0,c0d47dce-a898-4bac-adc1-2a1db9893294,l-r---E-T-d-----C---p---W-------------w---P---...,-1,R,1,G7G6,0,0,0,0,0
1,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W-------------w---P---...,1,r,1,A3A4,0,0,0,0,0
2,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W-------------w---P---...,-1,R,1,G6G5,0,0,0,0,0
3,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W------------w----P---...,1,w,4,E3E2,0,0,0,0,0
4,c0d47dce-a898-4bac-adc1-2a1db9893294,l--r--E-T-d-----C---p---W------------w----P---...,-1,R,1,G5G4,0,0,0,0,0

In [5]:
n_files = math.ceil(len(df) / N_ROWS)
n_files

3

In [6]:
for i in range(n_files):
    file_name_i = DARK_FILE_NAME.replace('.csv', f'_{i+1}.csv')
    df_i = df[i * N_ROWS:(i + 1) * N_ROWS]
    df_i.to_csv(file_name_i, index=False)
    print(f'{file_name_i} saved')

dark_1.csv saved
dark_2.csv saved
dark_3.csv saved

In [7]:
os.remove(DARK_FILE_NAME)
os.remove(LIGHT_FILE_NAME)
os.remove(FILE_NAME)